@desktop-widths: ~"(min-width: 960px)";
@mobile-widths-only: ~"(max-width: 799px)";
@tablet-widths-only: ~"(max-width: 1169px)" and ~"(min-width: 800px)";



/*Colors*/

@black: black;
@blue: #0698ed;
@white: white;