.company-teachers {
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
	}
	text-align: center;
	min-height: 270px;
	background-color: lightgray;
	text-transform: uppercase;
	background: url(../img/title-background.jpg); 
	background-size: cover;
	h3 {
		margin:0;
		display: inline-block;
		padding-top: 66px;
		font-size: 24px;
		line-height: 36px;
		font-weight: lighter;
		width: 832px;
	}
}