.company-title {
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
	}
	border-bottom: 1px solid #ebeaea;
	min-height: 440px;
	text-align: center;
	background-color: lightgray;
	background: url(../img/title-background.png);
	background-size: cover;
	&__description {
		padding-top: 66px;
		margin-top: 0;
		margin-bottom: 83px;
		font-size: 45px;
		line-height: 60px;
		font-weight: lighter;
		font-family: "Open Sans", Arial, sans-serif;
	}
	&__departments-item {
		font-size: 16px;
		width: 220px;
		margin-left: 85px;
		text-align: left;
		text-transform: uppercase;
		line-height: 24px;
		color: @black;
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:after {
			position:absolute;
			content: "";
			top: -2px;
			left: -57px;
			height: 50px;
			width: 50px;
		}
		&--safety:after {
			background-image: url("../img/icon-safety.png");
		}
		&--control:after {
			background-image: url("../img/icon-control.png");
		}
		&--explosion:after {
			background-image: url("../img/icon-explosion.png");
		}
	}
}


@media @mobile-widths-only {

.company-title {
	min-height: 440px;
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
	}
	border-bottom: 1px solid #ebeaea;
	min-height: 440px;
	text-align: center;
	background-color: lightgray;
	background: url(../img/title-background.png); 
	background-size: cover;
	&__description {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 40px;
		padding-top: 40px;
	}
	&__departments {
		.container();
		min-height: 250px;
			&-item {
			margin-bottom: 25px;
			}
			&:after {
			position:absolute;
			content: "";
			top: -2px;
			left: -57px;
			height: 50px;
			width: 50px;
			}
	}
}

}




@media @tablet-widths-only {

.company-title {
	&__wrapper {
	}
	&__description {
	}
	&__departments {
		text-align: center;
			&-item {
				font-size: 12px;
				width: 150px;
				margin-left: 65px;
			}
			&:after {
			}
	}
}


}