.company-features {
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
	}
	min-height: 660px;
	.container();
	&__experience {
		padding-top: 85px;
		margin-left: 190px;
		min-height: 190px;
		width: 360px;
		float: left;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			top: 54px;
    		right: -420px;
    		width: 295px;
    		height: 245px;
			background: url("../img/icon-experience.png");
		}
		&-title {
			font-weight: lighter;
			color: #0698ed;
			font-size: 20px;
			text-transform: uppercase;
		}
		&-description {
			/*width: 360px;*/
			/*float: left;*/
		}
	}
	&__license {
		min-height: 190px;
		padding-top: 405px;
		margin-right: 125px;
		width: 360px;
		float: right;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			top: 355px;
    		right: 556px;
    		width: 277px;
    		height: 280px;
			background: url("../img/icon-license.png");
		}
		&-title {
			font-weight: lighter;
			color: #0698ed;
			font-size: 20px;
			text-transform: uppercase;
		}
		&-description {
			/*width: 360px;*/
			/*float: right;*/
		}
	}
}




@media @mobile-widths-only {



.company-features {
	min-height: 1000px;
	&__wrapper {
	}
	.container();
	&__experience {
		margin-left: 0;
		line-height: 20px;
		padding-top: 300px;
		width: 100%;
		min-height: auto;
		margin-bottom: 40px;
		float: none;
		display: inline-block;
		&:before {
			right:0;
			left: 0;
		}
		&-title {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 30px;	
			text-transform: uppercase;
			text-align: center;
		}
		&-description {
			font-size: 13px;
			text-align: center;
		}
	}
	&__license {
		line-height: 20px;
		margin-right: 0;
		padding-top: 320px;
		margin-bottom: 40px;
		width: 100%;
		float: none;
		min-height: auto;
		display: inline-block;		
		&:before {
			right: 0;
			left: 11px;
			top: 40px;
		}
		&-title {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 30px;	
			text-transform: uppercase;
			text-align: center;
		}
		&-description {
			font-size: 13px;
			text-align: center;

		}
	}
}





}




@media @tablet-widths-only {

.company-features {
	&__wrapper {
	}
	&__experience {
		margin-left: 0;
		width: 380px;
		&:before {
			right: -310px;
		}
		&-title {
		}
		&-description {
		}
	}
	&__license {
		padding-top: 0;
		margin-top: 100px;
		margin-right: 0;
		width: 350px;
		&:before {
			top:-40px;
			right: 412px;
		}
		&-title {
		}
		&-description {
		}
	}
}

}