.company-services {
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
	}
	text-align: center;
	min-height: 700px;
	h2 {
		padding-top: 70px;
		font-size: 45px;
		line-height: 60px;
		font-weight: lighter;
		margin-bottom: 90px;
	}
	&__directions-radiation-security {
		width: 320px;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #c4cdd2;
		border-radius: 5px;
		margin-right: 35px;
		&-title {
			background: #ebf7fd;
			color: #0698ed;
			box-sizing: border-box;
    		padding-top: 20px;
			height: 65px;
			font-weight: normal;
			font-size: 18px;
			text-transform: uppercase;
		}
		&-forwhom {
			min-height: 90px;
			box-sizing: border-box;
			padding-top: 33px;
			border-bottom: 1px solid #cdebfe;
		}
		&-byprogram {
			text-transform: uppercase;
			color: #0698ed;
			min-height: 40px;
			box-sizing: border-box;
			padding-top: 7px;
			border-bottom: 1px solid #cdebfe;	
		}
		&-program {
			min-height: 120px;
			box-sizing: border-box;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__directions-radiation-control {
		width: 420px;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #c4cdd2;
		border-radius: 5px;
		&-title {
			background: #ebf7fd;
			color: #0698ed;
			height: 65px;
			box-sizing: border-box;
    		padding-top: 20px;
			font-weight: normal;
			font-size: 18px;
			text-transform: uppercase;
		}
		&-forwhom {
			min-height: 90px;
			box-sizing: border-box;
			padding-top: 33px;
			border-bottom: 1px solid #cdebfe;
		}
		&-byprogram {
			text-transform: uppercase;
			color: #0698ed;
			min-height: 40px;
			box-sizing: border-box;
			padding-top: 7px;
			border-bottom: 1px solid #cdebfe;	
		}
		&-program {
			min-height: 120px;
			box-sizing: border-box;
			padding-top: 45px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__directions-explosion-proof {
		width: 320px;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #c4cdd2;
		border-radius: 5px;
		margin-left: 35px;
		&-title {
			background: #ebf7fd;
			color: #0698ed;
			box-sizing: border-box;
    		padding-top: 20px;
			height: 65px;
			font-weight: normal;
			font-size: 18px;
			text-transform: uppercase;
		}
		&-forwhom {
			min-height: 90px;
			box-sizing: border-box;
			padding-top: 33px;
			border-bottom: 1px solid #cdebfe;
		}
		&-byprogram {
			text-transform: uppercase;
			color: #0698ed;
			min-height: 40px;
			box-sizing: border-box;
			padding-top: 7px;
			border-bottom: 1px solid #cdebfe;

		}
		&-program {
			min-height: 120px;
			box-sizing: border-box;
			padding-top: 20px;
			padding-right: 20px;
			padding-left: 20px;	

		}
	}
}





@media @mobile-widths-only {

.company-services {
	min-height: 1090px;
	&__wrapper {
	}
	h2 {
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		padding-top: 30px;
		padding-bottom: 35px;	
	}
	&__directions {
		.container();
	}

	&__directions-radiation-security {
		width: 300px;
		margin-right: 0;
		margin-bottom: 40px;
		&-title {
		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
	&__directions-radiation-control {
		width: 300px;
		margin-bottom: 40px;
		&-title {
			height: auto;
			min-height: 91px;
		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
	&__directions-explosion-proof {
		width: 300px;
		margin-left: 0;
		margin-bottom: 40px;
		&-title {
		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
}



}



@media @tablet-widths-only {

.company-services {
	&__wrapper {
	}
	h2 {
		width: 640px;
		display: inline-block;
		vertical-align: top;
	}
	&__directions {
		.container();
	}

	&__directions-radiation-security {
		width: 420px;
		margin-right: 0;
		margin-bottom: 40px;
		&-title {

		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
	&__directions-radiation-control {
		margin-bottom: 40px;
		width: 420px;
		&-title {
		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
	&__directions-explosion-proof {
		margin-bottom: 80px;
		width: 420px;
		margin-left: 0;
		&-title {
		}
		&-forwhom {
		}
		&-byprogram {
		}
		&-program {
		}
	}
}



}