.licensing-documents {
	min-height: 1060px;
	.container();
	padding-top: 66px;
	&__title {
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 60px;
	}
	&__item {
		min-height: 190px;
		margin-bottom: 40px;
		width: 455px;
		margin-right: 30px;
		vertical-align: top;
		display: inline-block;

		&-description {
			margin-top: 35px;
			margin-left: 25px;
			display: inline-block;
			vertical-align: top;
			width: 290px;
			&-title {
			font-weight: lighter;
			font-size: 20px;
			color: #0698ed;
			text-transform: uppercase;
			}
			&-zoom-button {
				display: inline-block;
				vertical-align: top;
				color: #0698ed;
				text-decoration: none;
				position: relative;
				text-indent: 40px;
				&:after {
					position: absolute;
					content: "";
					top: 5px;
    				left: 8px;
    				width: 21px;
    				height: 21px;
					background: url("../img/icon-zoom.png");
					}
			}
		}

		
	
		&-preview-photo {
			display: inline-block;
			width: 132px;
			height: 183px;
			border: 1px solid #0698ed;
			box-sizing: border-box;
    		padding: 5px 3px;
		}

		&-button {
			min-height: 90px;
			margin-right: 30px;
			display: inline-block;
			vertical-align: top;
			width: 455px;
			border:1px solid #0698ed;
			box-sizing: border-box;
			padding-top: 15px;
			padding-left: 100px;
			margin-bottom: 135px;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				top: 25px;
    			left: 38px;
    			width: 27px;
    			height: 35px;
				background: url("../img/icon-download-license.png");
			}
		}
	}
}