.main-footer {
	border-bottom: 12px solid #454a60;
	&__mobile {
		&-button,
		&-number {
			display: none;
		}
	}

	background-color: #606784;
	min-height: 290px;
	color: white;
	padding-top: 100px;
	box-sizing: border-box;
	/*text-align: center;*/
	font-weight: normal;
	text-transform: uppercase;
	&__wrapper {
		.container();
	}
	&__pagination {
		margin-left: 95px;
		text-align: left;
		width: 320px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: -45px;
    		left: 45px;
    		width: 17px;
    		height: 22px;
			background: url("../img/icon-footer-pagination.png");
		}
		ul {
			margin:0;
		}

		li {
			list-style: none;
			margin-bottom: 25px;
		}
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				.transition();
				text-decoration:underline;
			}
		}
	}
	&__contacts {
		margin-left: 95px;
		text-align: left;
		width: 165px;
		display: inline-block;
		vertical-align: top;
		&-title {
			color: @white;
			display: block;
			margin-bottom: 25px;
		}
		&-number {
			margin-bottom: 25px;
		}
		&-button {
			display: inline-block;
			text-transform: none;
			text-align: center;
			width: 160px;
			background: none;
			text-decoration: none;
			color: @white;
			outline: 1px solid @white;
			&:hover {
				outline: 2px solid @white;
			}
		}
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: -45px;
    		left: 0px;
    		width: 17px;
    		height: 23px;
			background: url("../img/icon-footer-contacts.png");
		}
	}
	&__company-info {
		margin-left: 95px;
		text-align: left;
		width: 260px;
		display: inline-block;
		vertical-align: top;
		&-name-title {
			display: inline-block;
			margin-bottom: 25px;
			font-size: 16px;
			color: @white;
			text-decoration: none;
			letter-spacing: 6px;
			position: relative;
			&:after {
				position: absolute;
				content: "";
			    top: -50px;
    			left: 0;
    			right: 0;
				width: 50px;
				height: 50px;
				background-image: url("../img/logo.svg");
				background-repeat: no-repeat;
				opacity: 0.5;
			}
		}
		&-name-copyright {
			margin-bottom: 25px;
			font-size: 12px;
			padding-top: 2px;
		}
		&-developed {
			font-size: 12px;
			font-weight: lighter;
			text-transform: none;
			a {
				color: @white;
			}
		}
	}
}



@media @mobile-widths-only {

.main-footer {
	padding-top: 50px;
	text-align: center;
	&__wrapper {
	}
	&__pagination {
		display: none;


		margin-left: 0;
		width: 300px;
		text-align: center;
		margin-bottom: 90px;
		&:after {
			position: absolute;
			content: "";
			top: -45px;
    		left: 0px;
    		right: 0;
    		margin: 0 auto;
    		width: 17px;
    		height: 22px;
			background: url("../img/icon-footer-pagination.png");
		}

		ul {
			margin:0;
			width: 300px;
    		box-sizing: border-box;
			padding-left: 0;
		}

		li {
			list-style: none;
			margin-bottom: 25px;
		}
		a {
			text-decoration: underline;
			color: inherit;
			&:hover {
				.transition();
				text-decoration:underline;
			}
		}
	}
	&__contacts {
		margin-left: 0;
		text-align: center;
		width: 165px;
		margin-bottom: 100px;
		&-title {
			display: none;
		}
		&-number {
		}
		&-button {
			&:hover {
			}
		}
		position: relative;
		&:after {
			display: none;

			left: 0px;
    		right: 0;
    		margin: 0 auto;
		}
	}
	&__company-info {
		margin-left: 0px;
		text-align: center;
		width: 260px;
		&-name-title {
			letter-spacing: 3px;
			margin-bottom: 12px;
			&:after {
				top:-70px;
				margin: 0 auto;
				background-size: contain;
			}
		}
		&-name-copyright {
			margin-bottom: 25px;
			font-size: 12px;
			padding-top: 2px;
		}
		&-developed {
			margin-bottom: 25px;
			a {
				color: @white;
			}
		}
	}
}


}




@media @tablet-widths-only {

.main-footer {

	min-height: 275px;
	&__mobile {
		&-button {
			display: block;
			float: right;
		}
		&-number {
			display: block;
			float: left;
		}
	}
	text-align: center;
	&__wrapper {
	}
	&__pagination {
		display: none;
		margin-left: 25px;
		text-align: left;
		margin-bottom: 60px;
		&:after {
    		left: 0px;
    		right: auto;
		}

		ul {
			margin:0;
			width: 300px;
    		box-sizing: border-box;
			padding-left: 0;
		}

		li {
			list-style: none;
			margin-bottom: 25px;
		}
		a {
			text-decoration: underline;
			color: inherit;
			&:hover {
				.transition();
				text-decoration:underline;
			}
		}
	}
	&__contacts {
		display: none;
		margin-left: 0;
		text-align: left;
		width: 165px;
		margin-bottom: 70px;
		&-title {
			display: block;
		}
		&-number {
		}
		&-button {
			&:hover {
			}
		}
		position: relative;
		&:after {
			left: 0px;
    		right: auto;
		}
	}
	&__company-info {
		margin-left: 0px;
		text-align: center;
		width: 260px;
		&-name-title {
			text-indent: 0;
			letter-spacing: 3px;
			margin-bottom: 12px;
			&:after {
				background-image: url(../img/logo-mobile.png);
				top: -60px;
    			right: 0;
    			left: 0;
    			margin: 0 auto;
    			opacity: 1;
			}
		}
		&-name-copyright {
			margin-bottom: 25px;
			font-size: 12px;
			padding-top: 2px;
		}
		&-developed {
			margin-bottom: 25px;
			a {
				color: @white;
			}
		}
	}
}


}