.technical-task {
	&__wrapper {
		border-bottom: 1px solid #ebeaea;
		margin-top: 105px;

	}
	&__title {
		margin: 0;

		.container();
		padding-top: 65px;
		box-sizing: border-box;
		display: block;
		min-height: 140px;	
		font-weight: lighter;
		font-size: 24px;
		line-height: 36px;
		text-transform: uppercase;
		
	}
	h2 {
		font-weight: lighter;
		font-size: 24px;
		color: #0698ed;
		line-height: 36px;
		text-transform: uppercase;
		margin-top: 50px;
		margin-bottom: 35px;
	}

	&__customer-requirements {
		.container();
		min-height: 355px;
		&-item {
			display: inline-block;
			vertical-align: top;
			&-title {
				.transition();
				width: 650px;
				min-height: 55px;
				background: none;
				font-size: 18px;
				padding-left: 15px;
				text-align: left;
				border: 1px solid #626262;
				display: inline-block;
				vertical-align: top;
				margin-right: 30px;
				margin-bottom: 25px;
				position: relative;
				&:hover {
					box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.1);
				}
				&:focus {
					outline:none;
				}
				&:active {
					outline: none;
					border: 1px solid #46a9ef;
				}
				&:after {
					.transition();
					position:absolute;
					content: "";
					top:10px;
					right: 25px;
					width: 21px;
					height: 34px;
					background: url("../img/button-left.png");
				}
				&:hover:after {
					transform: rotate(-90deg);
				}
				&--active {
					&:after {
						transform: rotate(-90deg);
					}
				}
			}
			&-description {
				padding-left: 15px;
				font-size: 14px;
				line-height: 24px;
				width: 555px;
				display: none;
				margin-bottom: 35px;
			}
		}
	}
	&__education {
		.container();
		min-height: 805px;
		&-item {
			vertical-align: top;
			display: inline-block;
			&-order {
				display: inline-block;
				vertical-align: top;
				height: 50px;
				width: 70px;
				line-height: 50px;
				font-size: 59px;
				margin-right: 30px;
				color: #0698ed;
			}
			&-description {
				display: inline-block;
				vertical-align: top;
				width: 655px;
				margin-bottom: 65px;
			}
		}
		&-document-download {
			margin-left: 115px;
			text-decoration: none;
			color: @black;
			box-sizing: border-box;
    		padding: 20px 0 0 74px;
			display: inline-block;
			vertical-align: top;
			width: 260px;
			height: 95px;
			border: 1px solid #0698ed;
			/*position: relative;*/
			position: absolute;
			right: 50px;
    		left: 700px;
    		margin: 0 auto;
			&:after {
				position: absolute;
				content: "";
				top: 30px;
    			left: 25px;
    			width: 27px;
    			height: 35px;
				background: url("../img/icon-download-license.png");
			}
		}
	}

	&__program {
		.container();
		min-height: 835px;
		border-bottom: 1px solid #ebeaea;
		&-introduction {
			margin-bottom: 45px;
		}
		&-item {
			&-title {
				.transition();
				width: 650px;
				min-height: 55px;
				background: none;
				font-size: 18px;
				padding-left: 15px;
				text-align: left;
				border: 1px solid #626262;
				display: inline-block;
				vertical-align: top;
				margin-right: 30px;
				margin-bottom: 25px;
				position: relative;
				&:hover {
					box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.1);
				}
				&:focus {
					outline:none;
				}
				&:active {
					outline: none;
					border: 1px solid #46a9ef;
				}
				&:after {
					.transition();
					position:absolute;
					content: "";
					top:10px;
					right: 25px;
					width: 21px;
					height: 34px;
					background: url("../img/button-left.png");
				}
				&:hover:after {
					transform: rotate(-90deg);
				}
				&--active {
					&:after {
						transform: rotate(-90deg);
					}
				}
			}
			&-description {
				display: none;
				padding-left: 15px;
				vertical-align: top;
				margin-bottom: 35px;
				width: 555px;
			}
		}
	}
}

.fixed {
	position: absolute;
	top: 50px;
	.transition();
}


@media @mobile-widths-only {

	.technical-task {
		&__title {
			padding-top: 35px;
		}
		&__wrapper {
			margin-top: 0;
		}
		&__customer-requirements {
			&-item-title {
				font-size: 14px;
				width: 300px;
				margin-right: 0; 
			}
			&-item-description {
				width: auto;
			}
		}
		&__education {
			&-item {
				&-description {
					width: 300px;
				}
				&-order {
					margin-bottom: 8px;
				}
			}
			&-document {
				&-download {
					margin-left: 0;
    				left: 0;
    				margin-bottom: 25px;
    				position: relative;
    				width: 300px;
    				height: 92px;
				    &:after {
				    }
				}
			}
		}
			&__program {
				&-item {
					&-title {
						font-size: 14px;
						margin-right: 0;
						width: 300px;
					}
					&-description {
						width: auto;
					}
				}
			}
	}




}





@media @tablet-widths-only {
	.technical-task {
		&__wrapper {
			margin-top: 125px;
		}
		&__education {
			&-item {
				&-description {
					width: 600px;
				}
			}
			&-document {
				&-download {
				    margin-left: 115px;
				    text-decoration: none;
				    color: black;
				    box-sizing: border-box;
				    padding: 13px 0 0 74px;
				    display: inline-block;
				    vertical-align: top;
				    width: 650px;
				    height: 60px;
				    border: 1px solid #0698ed;
				    position: absolute;
				    top: 302px;
				    left: -68px;
				    right: 0;
				    margin: 0 auto;
				    font-size: 18px;
				    &:after {
				    	top:11px;
				    }
				}
			}
		}

	}


}